body {
    margin-top: 50px;
}

@media screen and (max-width: 1000px)  {
    .spec {
        display: none;
    }
}

h3 {
    display: inline;
}

hr {
    border: none;
    height: 2px;
    // Set the color
    color :#333; /* Old IE */
    background-color: #333; /* Modern Browsers */
    
}

#selection {
    width: 150px;
}

select {
    border: solid 2px;
}

button[type=submit] {
    background-color: white;
    width: 100px;
    border: 2px solid;
}

.add_header {
    h3 {
      display: inline;  
    }

    .buttons-floated-right {
        display: inline-block;
        float: right;
        
    }

    button {
        display: inline;
    }
    
    form {
        display: inline;
    }
}

input {
    margin-top: 10px;
    margin-left: 10px;
    float: left;
}

.card {
    border: 2px solid;
}

.col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
}

.pagination {
    font-size: 3rem;
    a {
        color: grey;
    }
    .disabled {
        color: white;
    }
}

.add-form-dynamic-card {
    margin-top: 24px;
    border: 1px solid;
}

.form-inline-group {
    margin-top: 24px;
    display: flex;
    flex-flow: row wrap;
    
    label {
        margin-right: 10px;
        margin-bottom: 2px;
        display: inline-block;
        width: 50px;
        padding-top: 6px;
    }

    input, select {
        width: 12rem;
        margin-left: 50px;
        margin-top: 2px;
    }

    #type-label {
        width: 120px;
        display: block;
        float: left;
        padding-top: 10px;
    }

    #type-switcher {
        margin-left: 40px;
        margin-top: 2px;
        border: 1px solid;
        height: 36px;
        text-align: center;
        border-radius: 4px;
    }
}

.form-inline-card-group {
    margin-top: 24px;
    margin-bottom: 12px;
    word-wrap: initial;
    label {
        margin-left: 48px;
        white-space: nowrap;
        float: left;
    }
    
    input {
        display: inline-block;
        margin-bottom: 12px;
    }
    
    p {
        margin-left: 48px;
    }
}
