body {
  margin-top: 50px;
}

@media screen and (max-width: 1000px) {
  .spec {
    display: none;
  }
}

h3 {
  display: inline;
}

hr {
  border: none;
  height: 2px;
  color: #333;
  /* Old IE */
  background-color: #333;
  /* Modern Browsers */
}

#selection {
  width: 150px;
}

select {
  border: solid 2px;
}

button[type=submit] {
  background-color: white;
  width: 100px;
  border: 2px solid;
}

.add_header h3 {
  display: inline;
}

.add_header .buttons-floated-right {
  display: inline-block;
  float: right;
}

.add_header button {
  display: inline;
}

.add_header form {
  display: inline;
}

input {
  margin-top: 10px;
  margin-left: 10px;
  float: left;
}

.card {
  border: 2px solid;
}

.col-md-3 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  max-width: 25%;
}

.pagination {
  font-size: 3rem;
}

.pagination a {
  color: grey;
}

.pagination .disabled {
  color: white;
}

.add-form-dynamic-card {
  margin-top: 24px;
  border: 1px solid;
}

.form-inline-group {
  margin-top: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.form-inline-group label {
  margin-right: 10px;
  margin-bottom: 2px;
  display: inline-block;
  width: 50px;
  padding-top: 6px;
}

.form-inline-group input, .form-inline-group select {
  width: 12rem;
  margin-left: 50px;
  margin-top: 2px;
}

.form-inline-group #type-label {
  width: 120px;
  display: block;
  float: left;
  padding-top: 10px;
}

.form-inline-group #type-switcher {
  margin-left: 40px;
  margin-top: 2px;
  border: 1px solid;
  height: 36px;
  text-align: center;
  border-radius: 4px;
}

.form-inline-card-group {
  margin-top: 24px;
  margin-bottom: 12px;
  word-wrap: initial;
}

.form-inline-card-group label {
  margin-left: 48px;
  white-space: nowrap;
  float: left;
}

.form-inline-card-group input {
  display: inline-block;
  margin-bottom: 12px;
}

.form-inline-card-group p {
  margin-left: 48px;
}
/*# sourceMappingURL=style.css.map */